asgiref==3.8.1
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
Django==4.2.24
django-cors-headers==4.8.0
django-filter==25.1
django-phonenumber-field==8.1.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
google-auth==2.40.3
idna==3.10
mailtrap==2.1.0
Markdown==3.9
mysqlclient==2.2.7
phonenumbers==9.0.13
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.1.1
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.5.0
